langchain
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters

chromadb
openai
python-dotenv

sentence-transformers
huggingface-hub

pandas
numpy
scikit-learn

matplotlib
seaborn
plotly

jupyter
ipykernel
openai